body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

h1 {
  font-size: 55pt;
}

h2 {
  font-size: 36pt;
}

h3 {
  font-size: 20pt;
  line-height: 1.3;
}

h4 {
  font-size: 16pt;
}

h5 {
  font-size: 14pt;
}

p {
  font-size: 10pt
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}


header {
  background-image: linear-gradient(rgba(5, 27, 229, .6), rgba(5, 27, 229, .6)), url(banner.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

.logo {
  background: #ff6000;
  padding: 10px;
  font-size: 30px;
  color: #fff;
  width: 30%;
  text-align: center;
  margin: auto;
}

.showcase {
  height: 100vh;
}

#navbar li {
  display: inline-block;
  padding: 10px;
  list-style: none;
  background-color: #ff6000;
}

#navbar li a:link,
#navbar li a:visited {
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}


.showcase h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30pt;
  color: #fff;
  line-height: 3rem;
  margin-bottom: 20px;
}

.showcase p {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  line-height: 1.5rem;
  margin-bottom: 20px
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #ff6000;
  border: 1px solid #ff6000;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #051be5;
  background-color: #051be5;
  color: #fff;
}

#services {
  text-align: left !important;
  margin-bottom: 100px;
}

#services .card {
  width: 70%;
  height: 400px;
  background-image: linear-gradient(rgba(5, 27, 229, .6), rgba(5, 27, 229, .6)), url(banner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

#services .card .body {
  background-image: linear-gradient(rgba(5, 27, 229, .8), rgba(5, 27, 229, .8));
  padding: 1em;
  color: #fff;
}

#services .card .arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 16%;
  background: #ff6000;
}

#about {
  max-height: 500px;
  color: #fff;
  position: relative;
}

#about .card {
  width: 100%;
  height: 550px;
  margin-top: -70px;
  margin-right: 50px;
  background-image: url(banner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

#about .card .body {
  background: #ff6000;
  padding: 1em;
  color: #fff;
  text-align: left;
  width: 70%;
  margin-bottom: 50px;
}

#about .arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background: #ff6000;
}

#exclusive {
  background-color: rgb(247, 247, 247);
  padding: 0;
}

#exclusive .container {
  padding: 0;
  margin-right: 3%;
}

.exclusive-bg {
  background-image: linear-gradient(rgba(5, 27, 229, .5), rgba(5, 27, 229, .5)), url(banner.jpg);
  background-size: cover;
  background-position: center;
}

.card-mini {
  border: 1px solid #051be5;
  padding: 10px;
  text-align: left;
}

.card-mini i {
  color: #051be5;
  font-size: 30px;
}

.card-mini p {
  margin: 0;
  padding: 0;
}

#dashboard img {
  width: 90%;
  text-align: center;
  margin: auto;
}

.case-card {
  background-color: rgb(247, 247, 247);
  padding: 20px;
  text-align: left;
}

.case-card.bg {
  background-image: linear-gradient(rgba(5, 27, 229, .6), rgba(5, 27, 229, .6)), url(banner.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  height: 350px;
}

.case-card span {
  font-weight: 700;
}

.case-card img {
  width: 60%;
  margin-bottom: -20px;
}

#blog .blogcard-img {
  width: 100% !important;
}

#contact {
  background-image: linear-gradient(rgba(5, 27, 229, .6), rgba(5, 27, 229, .6)), url(banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  position: relative;
  height: 400px;
  ;
}

#contact .card {
  background-color: #051be5;
  color: #fff;
  width: 150px;
  margin-right: 50px;
  font-size: 16px;
  text-align: center;
}

#contact .card i {
  padding: 20px 10px;
  font-size: 70px;
}

#contact .form {
  width: 350px;
  color: #fff;
  background-color: #051be5;
  padding: 10px 0;
  margin-top: -50px;
}

#contact .form .form-header {
  background-color: #ff6000;
  width: 60%;
  margin: 20px 0;
  text-align: left;
  padding: 10px;
}

#contact .form .form-body {
  width: 95%;
  margin: 0 auto;
}

#contact .form input {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  background-color: #5b6af1;
  border: none;
}

#contact .form input::placeholder {
  color: rgba(255, 255, 255, 0.795);
}

#contact .form select {
  display: block;
  width: 95%;
  color: #fff;
  margin: 10px auto;
  padding: 10px;
  background-color: #5b6af1;
  border: none;
}

#contact button {
  width: 90%;
  background-color: #ff6000;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  margin-bottom: 20px;
}

/* footer .col-md-3 {
  padding-right: 100px;
}

*/
section {
  padding: 2em;
}


.container {
  margin: auto;
  padding: 2em
}

.section-header {
  text-align: center
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}